@font-face {
    font-family: 'Poppins Light';
    src: url('../font/Poppins-Light.ttf') format('trueType'); 
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.ttf') format('trueType'); 
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../font/Poppins-Bold.ttf') format('trueType'); 
}

@font-face {
    font-family: 'Poppins Black';
    src: url('../font/Poppins-Black.ttf') format('trueType'); 
}

@font-face {
    font-family: 'Poppins Extra Bold';
    src: url('../font/Poppins-ExtraBold.ttf') format('trueType'); 
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 77px;
    background-color: #ffffff;
}

.header {
    background-color: #ffffff;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.name, .nameTwo{
    font-family: 'Poppins Extra Bold';
    font-size: 20px;
}

.job {
    font-family: 'Poppins Light';
    font-size: 14px;
}

.blueRectangle {
    width: 15px;
    height: 15px;
    background-color: rgb(200, 158, 255);
}

/* hamburger */

.header__right {
    font-family: 'Poppins Light';
    font-size: 14px;
}

.header__right__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__right__container.desktop {
    display: flex;
}

/* hamburger */

.aboutMe {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.CV {
    text-decoration: none;
    color: black; 
    cursor: pointer;
}

.project {
    text-decoration: none;
    color: rgb(200, 158, 255); 
}

.contact {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.article {
    background-color: rgb(239, 227, 255);
    height: fit-content;
    margin: 0;
}

.articleContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    height: 100%;
}

.title {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.projectDescription {
    font-family: 'Poppins Light';
    font-size: 14px;
    margin: 0 20px 50px 20px;
}

.whiteBlock {
    width: 90%;
    height: 100%; /* Change from auto to 100% */
    background-color: white;
    box-sizing: border-box;
    box-shadow: -5px 8px 21px -4px rgba(0,0,0,0.20); 
    box-shadow: -5px 8px 21px -4px rgba(0,0,0,0.20);
    margin-bottom: 100px;
}

.mainBlock {
    display: flex;
    align-items: flex-start;
    gap: 0;
    z-index: 9999;
}

.leftBlock {
    width: 65%;
    height: max-content;
    margin: 40px 30px 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titleBlock {
    display: flex;
    gap: 30px;
}

.lineVertical {
    width: 10px;
    height: 100px;
    background-color: rgb(200, 158, 255);
    display: flex;
}

.projectName {
    font-family: 'Poppins Bold';
    font-size: 18px;
    color: rgb(200, 158, 255);
}

.projectYear {
    font-family: 'Poppins Light';
    font-size: 16px;
}

.projectDesc {
    font-family: 'Poppins Light';
    font-size: 14px;
    margin-left: 40px;
}

.company {
    font-family: 'Poppins Light';
    font-size: 14px;
    color: black;
    margin: 0;
}

.rightBlock {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins Light';
    font-size: 14px;
    background-color: aqua;
    overflow: hidden;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleBlockBottom {
    font-family: 'Poppins Extra';
    margin-bottom: 30px;
}

.titleBlockBottom2 {
    font-family: 'Poppins Extra';
    margin: 80px 0 30px 0;
}

.skills {
    font-family: 'Poppins Light';
    font-size: 14px;
}


.footerBawah {
    background-color: rgb(255, 255, 255);
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 40px;
    padding-bottom: 0px !important;
    box-sizing: border-box;
}

.leftFooter {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mentionLegal {
    text-decoration: none;
    font-family: 'Poppins Light';
    font-size: 12px;
    color: black;
    margin: 0;
}
.cookies {
    text-decoration: none;
    font-family: 'Poppins Light';
    font-size: 12px;
    color: black;
    margin: 0;
}
.userConditions {
    text-decoration: none;
    font-family: 'Poppins Light';
    font-size: 12px;
    color: black;
    margin: 0;
}
.credit {
    text-decoration: none;
    font-family: 'Poppins Light';
    font-size: 12px;
    color: black;
    margin: 0;
}


.rightFooter {
    display: flex;
    gap: 20px;
}

.tel {
    width: 200px;
    height: 200px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins Bold';
    font-size: 12px;
}

.pTel1 {
    font-family: 'Poppins Light' !important;
}

.email {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins Bold';
    font-size: 12px;
}

.pEmail1 {
    font-family: 'Poppins Light' !important;
}

.mediaSocial {
    width: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins Bold';
    font-size: 12px;
}

.linkedin {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.ig {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.linkedinButton {
    all: unset;
}
.igButton {
    all: unset;
}



/* hamburger page*/

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index:10000;
  }
  
  .modal-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-top: 150px;
    padding-left: 0;
    font-family: 'Poppins Bold';
    font-size: 20px;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 60px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Poppins Bold';
  }

  /* hamburger page*/


@media only screen and (max-width: 600px) {


    .header {
        padding: 0 20px;
    }

    .job {
        display: none; /* Hide job title on mobile */
    }

    .title {
        margin: 20px;
    }

    .mainBlock {
        flex-direction: column;
    }

    .leftBlock {
        width: 90%;
        margin: 0;
    }

    .projectDescription {
        width: 90%;
        margin: 0 20px 30px 20px;
    }

    .rightBlock {
        height: 250px;
        width: 100%;
        overflow: hidden;
    }
        /* footer */
        .footerBawah {
            padding: 0;
            width: 90%;
            flex-direction: column-reverse;
        }
    
        .rightFooter {
            margin: 20px;
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: wrap;
        }
    
        .tel, .email, .mediaSocial {
            align-items: flex-start;
            height: auto;
            width: auto;
        
        }
    
        .leftFooter {
            margin: 0 20px;
        }
        
        /* footer */

    /* hamburger */

    .mobile-menu {
        display: flex;
        align-items: center;
    }

    .menu-icon {
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
        transition: 0.4s;
    }

    .change .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .change .bar:nth-child(2) {
        opacity: 0;
    }

    .change .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .mobile-links {
        display: none; /* Hide mobile links by default */
    }

    .header__right.active .mobile-links {
        display: block; /* Show mobile links when active */
        height: 100%;
        width: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 100000;
    }

    .header__right__container.desktop {
        display: none;
    }

    /* hamburger */
}